body{
    font: normal 18px/3 "Fira Sans", "Heveltica Neue", sans-serif;
    background-image: url(../imagenes/wallpaper.jpg);
    color: white;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family:serif;
}

.form-registro{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background:white;
    border-radius: 7px;

}
h2{
    background: rgb(255, 0, 0);
    text-align: center;
    font-size: 40px;
    font-family:serif;
    padding: 15px;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid rgb(0, 0, 0);
}

.contenedor-input{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgrey;
}

.input-48{
    width: 48%;
}

.input-100{
    width: 100%;
    margin-bottom : 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgrey;
}

select#cmbCongregacion
{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgrey;
}

.btn-enviar{
    background: rgb(255, 0, 0);
    color: white;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
}

.btn-enviar:active
{
    transform: scale(1.05);
}